.vs/*
Examples/TestApp/.vs/*
Examples/TestApp/bin/Debug/*
Examples/TestApp/obj/*
MAX.Bot/bin/*
MAX.Bot/obj/*
.idea/.idea.SaaSoft.MAX.Bot/.idea/.gitignore
.idea/.idea.SaaSoft.MAX.Bot/.idea/encodings.xml
.idea/.idea.SaaSoft.MAX.Bot/.idea/misc.xml
.DS_Store
